
@{
    ViewBag.Title = "TestimonialList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>TestimonialList</h2>
<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Referans Adı</th>
        <th>Referans Ünvan</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Gökhan Genç</td>
        <td>Elektronik Müh</td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
        <td><a href="#" class="btn btn-success">Güncelle</a></td>
    </tr>